@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.card {
  background: $secondary-color;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  @include transition(transform, 0.2s, ease);

  &:hover {
    transform: translateY(-4px);
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 180px;

  .image {
    object-fit: cover;
  }
}

.content {
  padding: $spacing-sm;
  @include flex-between;

  .title {
    font-size: 0.95rem;
    font-weight: 600;
    color: $light-text-color;
  }

  .rating {
    display: inline-flex;
    align-items: center;
    gap: 4px;

    font-size: 0.85rem;
    color: $primary-color;
    white-space: nowrap;
  }
}
