@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.container {
  padding: $spacing-lg;
  max-width: 1200px;
  margin: 0 auto;
  color: $text-color;

  .header {
    h1 {
      font-size: 2rem;
      margin-bottom: $spacing-xs;
      font-family: $font-heading;
    }

    p {
      font-size: 0.95rem;
      margin: 2px 0;
      color: $text-color-muted;
    }
  }

  .imageWrapper {
    position: relative;
    width: 100%;
    height: 400px;
    margin: $spacing-lg 0;

    .image {
      object-fit: cover;
      border-radius: 12px;
    }
  }

  .details {
    p {
      line-height: 1.6;
      margin-bottom: $spacing-md;
    }

    .platforms {
      h4 {
        margin-bottom: $spacing-xs;
      }
      ul {
        list-style: disc;
        padding-left: $spacing-md;
        li {
          margin-bottom: $spacing-xs;
        }
      }
    }

    a {
      color: $primary-color;
      text-decoration: none;
      @include transition(color);

      &:hover {
        text-decoration: underline;
        color: $accent-color;
      }
    }
  }
}

// Responsive
@include respond(md) {
  .imageWrapper {
    height: 250px;
  }

  .header h1 {
    font-size: 1.5rem;
  }
}
